h1{ /* This is the heading of the website "Mumford and Sons"*/
	text-align:center;
	font-size:80px;
	color: black;
	font-family: 'Charm', cursive;
}

#backart{ /* This sets the background colour for the website*/
	background-image: linear-gradient(#4e99ba, black);
}

.mySlides{display:none;}

#albums{ /*This controls the size of the albums displayed on the home page*/
	width: 250px;
	height:250px;
	padding-right:2%;
	padding-left:2%;
	padding-top:4%;
	padding-bottom:4%;
}

#albums:hover{ /*When the user hovers over the albums, they fade*/
	opacity:0.2;
}

#albumlayout{ /*This seperates the albums on the home page so the aren't next to each other*/
	padding-left:2%;
	
}

#socialmedia{ /*This is the text that is displayed above the social media icons*/
	text-align:center;
	font-size:20px;
	color:white;
	font-family: 'Staatliches', cursive;
}

#sm{ /*This seperates the social media icons so they aren't next to each other*/
	padding:5px;
}

h3{ /*This is the title in the navigation menu ("Click to visit other pages")*/
	padding-left:6px;
	font-family: 'Thasadith', sans-serif;
}

div{ /*This seperates content throughout the website that use div tags*/
	padding:20px;
}

table { /*This formats the navigation buttons into a table displayed horizontally*/
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th { /*These are used throughout the website to help format tables*/
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	font-size:12px;
	color:white;
}

#MMI{ /*This sets the size of the images on the about page*/
	width:250px;
	height:180px;
}

#WMI{ /*This sets the size of the images on the about page*/
	width:250px;
	height:180px;
}

#BLI{ /*This sets the size of the images on the about page*/
	width:250px;
	height:180px;
}

#TDI{ /*This sets the size of the images on the about page*/
	width:250px;
	height:180px;
}

#ticketbutton{ /*This changes the format of the buttons to buy tickets on the "Live" page*/
	background-color: #7ac1ae;
	border: none;
	color: black;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius:20px;
	font-weight:bold;
}

.button2 { /*This sets the look and layout of the buttons in the navigation bar on each page*/
	border-radius: 4px;
	background-color: #87143e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	padding: 15px;
	width: 80px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	font-family: 'Martel', serif;
}

.button2 span { /*When the mouse hovers on the button, the button spans*/
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button2 span:after { /*When the mouse is off of the button, the button contracts to its original format*/
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button2:hover span { /*This increases the space between the button being hovered on, and the button to the right*/
	padding-right: 25px;
}

.button2:hover span:after { /*This returns the opacity and the padding to the original position*/
	opacity: 1;
	right: 0;
}

.asidesub{ /*This controls the layout of the navigation bar on each page*/
	width:100%;
	height:100px;
	float:left;
	border-style:solid;
	border-width:10px;
	border-color:#77797a;
	background-color: #77797a;
	border: 4px solid black;
	border-radius: 12px;
	padding-bottom:15px;
}

tr, th{ /*This changes the colour of the table to match the background colour of the navigation menu*/
	border:1px solid #77797a;
}

.header{ /*This sets the h1 tag which is the title of the page to cover the top of the page*/
	width:100%;
	height:100px;
}

#tablehead{ /*This changes the header font size on the "Live" page*/
	font-size:16px;
}

#addtocartbutton{ /*This changes the look of the button on the "Store" page, and the "Playlist Customizer" page*/
	border-radius:12px;
	background-color:#aaacaf;
	font-family: 'Rokkitt', serif;
}

#itemname{ /*This is the name of the item being added to the basket, or playlist*/
	font-size:16px;
	text-align:left;
	font-family: 'Permanent Marker', cursive;
}

#imagesize{ /*This changes the size of the images in the "Store" and also the location*/
	width:200px;
	height:200px;
	float:right;
}

#basket{ /*this holds the contents that has been added to the basket, or the playlist*/
	padding-top:10px;
}

h5{ /*This spaces out the navigation bar and the content on each of the pages*/
	color:#417f9b;
}

#TP{ /*This changes the font size of the total price on the "Store" page*/
	font-size:16px;
}

#cart_total{ /*This is changes the font size of the total cost of all the items on the "Store" page*/
	font-size:16px;
}

#musicalbum{ /*This changes the size of the album being displayed on the "Music" page*/
	width:200px;
	height:200px;
}

#albumlistSNM, #albumlistBB, #albumlistWM, #albumlistD{ /*This changes the font used to list all of the songs on the "Music" page in the table*/
	font-family: 'Montserrat', sans-serif;
}

#youtubetag{ /*This changes the text above the youtube videos being displayed on the "Music" page*/
	color:white;
	font-size:20px;
	font-family: 'Work Sans', sans-serif;
}

#othermusic{ /*This changes the size and look of the "Spotify", "Deezer", "Apple Music" and "Amazon Music" buttons used on the "Music" page*/
	width:100px;
	height:50px;
	border-radius:10px;
}

#yourplaylist{ /*This changes the font size of the "Your Playlist" table heading*/
	font-size:16px;
}

#joinMandS{ /*This changes the font colour of the text displayed which allows users to sign up to get emails from Mumford and Sons*/
	color:white;
	font-family: 'Work Sans', sans-serif;
}

.registerbtn{ /*This makes the border of the register button rounded on the register page*/
	border-radius:5px;
}

#detailsimage{ /*This sets the size of the background and its position on the Register page*/
	width:40%;
	height:40%;
	background-repeat:no-repeat;
	position:absolute;
	top:50%;
	left:50%;
}

#Memberfont{ /*This changes the font on the "About" page*/
	font-family: 'Ovo', serif;
}

#livetable{ /*This changes the font on the "Live" page*/
	font-family: 'Noto Serif TC', serif;
}

#orderedProductsTbl{ /*This changes the font on the "Store page"*/
	font-family: 'Permanent Marker', cursive;
}

#songname{ /*This changes the font of the songs on the "Playlist" page*/
	font-family: 'Montserrat', sans-serif;
}




@media only screen and (max-width: 600px){ /*This is for small phones*/
	h1{ /* This is the heading of the website "Mumford and Sons"*/
		text-align:center;
		font-size:30px;
		color: black;
		font-family: 'Charm', cursive;
	}

	#backart{ /* This sets the background colour for the website*/
		background-image: linear-gradient(#4e99ba, black);
	}

	.mySlides{display:none;}

	#albums{ /*This controls the size of the albums displayed on the home page*/
		width: 140px;
		height:140px;
		padding-right:2%;
		padding-left:2%;
		padding-top:4%;
		padding-bottom:4%;
	}

	#albums:hover{ /*When the user hovers over the albums, they fade*/
		opacity:0.2;
	}

	#albumlayout{ /*This seperates the albums on the home page so the aren't next to each other*/
		padding-left:2%;
	}

	#socialmedia{ /*This is the text that is displayed above the social media icons*/
		text-align:center;
		font-size:16px;
		color:white;
		font-family: 'Staatliches', cursive;
	}

	#sm{ /*This seperates the social media icons so they aren't next to each other*/
		padding:5px;
	}

	h3{ /*This is the title in the navigation menu ("Click to visit other pages")*/
		padding-left:6px;
		font-family: 'Thasadith', sans-serif;
		font-size:10px;
	}

	div{ /*This seperates content throughout the website that use div tags*/
		padding:20px;
	}

	table { /*This formats the navigation buttons into a table displayed horizontally*/
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	td, th { /*These are used throughout the website to help format tables*/
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
		font-size:12px;
		color:white;
	}

	#MMI{ /*This sets the size of the images on the about page*/
		width:180px;
		height:120px;
	}

	#WMI{ /*This sets the size of the images on the about page*/
		width:180px;
		height:120px;
	}

	#BLI{ /*This sets the size of the images on the about page*/
		width:180px;
		height:120px;
	}

	#TDI{ /*This sets the size of the images on the about page*/
		width:180px;
		height:120px;
	}

	#ticketbutton{ /*This changes the format of the buttons to buy tickets on the "Live" page*/
		background-color: #7ac1ae;
		border: none;
		color: black;
		padding: 8px 22px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		border-radius:20px;
		font-weight:bold;
	}

	.button2 { /*This sets the look and layout of the buttons in the navigation bar on each page*/
		border-radius: 4px;
		background-color: #87143e;
		border: none;
		color: #FFFFFF;
		text-align: center;
		font-size:8px;
		padding: 5px;
		width: 80px;
		transition: all 0.5s;
		cursor: pointer;
		margin: 4px;
		font-family: 'Martel', serif;
	}

	.button2 span { /*When the mouse hovers on the button, the button spans*/
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;
	}

	.button2 span:after { /*When the mouse is off of the button, the button contracts to its original format*/
		content: '\00bb';
		position: absolute;
		opacity: 0;
		top: 0;
		right: -20px;
		transition: 0.5s;
	}

	.button2:hover span { /*This increases the space between the button being hovered on, and the button to the right*/
		padding-right: 25px;
	}

	.button2:hover span:after { /*This returns the opacity and the padding to the original position*/
		opacity: 1;
		right: 0;
	}

	.asidesub{ /*This controls the layout of the navigation bar on each page*/
		width:100%;
		height:80px;
		float:left;
		border-style:solid;
		border-width:10px;
		border-color:#77797a;
		background-color: #77797a;
		border: 4px solid black;
		border-radius: 12px;
		padding-bottom:15px;
	}

	tr, th{ /*This changes the colour of the table to match the background colour of the navigation menu*/
		border:1px solid #77797a;
	}

	.header{ /*This sets the h1 tag which is the title of the page to cover the top of the page*/
		width:100%;
		height:50px;
	}

	#tablehead{ /*This changes the header font size on the "Live" page*/
		font-size:14px;
	}

	#addtocartbutton{ /*This changes the look of the button on the "Store" page, and the "Playlist Customizer" page*/
		border-radius:12px;
		background-color:#aaacaf;
		font-family: 'Rokkitt', serif;
	}

	#itemname{ /*This is the name of the item being added to the basket, or playlist*/
		font-size:12px;
		text-align:left;
		font-family: 'Permanent Marker', cursive;
	}

	#imagesize{ /*This changes the size of the images in the "Store" and also the location*/
		width:80px;
		height:80px;
		float:right;
	}

	#basket{ /*this holds the contents that has been added to the basket, or the playlist*/
		padding-top:10px;
	}

	h5{ /*This spaces out the navigation bar and the content on each of the pages*/
		color:#417f9b;
	}

	#TP{ /*This changes the font size of the total price on the "Store" page*/
		font-size:10px;
	}

	#cart_total{ /*This is changes the font size of the total cost of all the items on the "Store" page*/
		font-size:10px;
	}

	#musicalbum{ /*This changes the size of the album being displayed on the "Music" page*/
		width:150px;
		height:150px;
	}

	#albumlistSNM, #albumlistBB, #albumlistWM, #albumlistD{ /*This changes the font used to list all of the songs on the "Music" page in the table*/
		font-family: 'Montserrat', sans-serif;
		font-size:10px;
	}

	#youtubetag{ /*This changes the text above the youtube videos being displayed on the "Music" page*/
		color:white;
		font-size:16px;
		font-family: 'Work Sans', sans-serif;
	}

	#othermusic{ /*This changes the size and look of the "Spotify", "Deezer", "Apple Music" and "Amazon Music" buttons used on the "Music" page*/
		width:80px;
		height:40px;
		border-radius:10px;
	}

	#yourplaylist{ /*This changes the font size of the "Your Playlist" table heading*/
		font-size:14px;
	}

	#joinMandS{ /*This changes the font colour of the text displayed which allows users to sign up to get emails from Mumford and Sons*/
		color:white;
		font-family: 'Work Sans', sans-serif;
		font-size:12px;
	}

	.registerbtn{ /*This makes the border of the register button rounded on the register page*/
		border-radius:5px;
		padding-top:4px;
	}

	#detailsimage{ /*This sets the size of the background and its position on the Register page*/
		width:40%;
		height:40%;
		background-repeat:no-repeat;
		position:absolute;
		top:10%;
		left:10%;
	}
	
	#Memberfont{ /*This changes the font on the "About" page*/
		font-family: 'Ovo', serif;
	}
	
	#Memberfontsize{ /*This changes the font size on the "About" page*/
		font-size:10px;
	}

	#livetable{ /*This changes the font on the "Live" page*/
		font-family: 'Noto Serif TC', serif;
	}
	
	#orderedProductsTbl{ /*This changes the font on the "Store page"*/
		font-family: 'Permanent Marker', cursive;
	}
	
	#songname{ /*This changes the font of the songs on the "Playlist" page*/
		font-family: 'Montserrat', sans-serif;
	}
}	